---
title: Automated Testing report
summary: DZone's 2023 Automated Testing Trend Report assessing current trends in automated testing, from architecture and test-driven development to the observed benefits of AI and low-code tools.
publisher: DZone
role: Contributor
publish_date: 2023-09-14
categories:
  - tech
  - writing
image: /books/17204703-lp-dz-tr-testing-front-cover-alt-2023.jpeg
store_urls:
  - label: Dzone
    url: https://dzone.com/trendreports/automated-testing
---

DZone's 2023 Automated Testing Trend Report assess current trends related to automated testing, covering everything from architecture and test-driven development to observed benefits of AI and low-code tools.