---
layout: default
permalink: /contact/
menu: true
title: Contact
image: chris-holding.jpg
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}
<div class="row">
    <main class="top-column">
        <p>
            I am a technical communicator with a love of explaining technical concepts in documentation, blog posts,
            videos, books and more. I run a small agency called Gregarious Mammal if you're interested in hiring me for
            that kind of thing.</p>
    </main>
    <aside class="top-column">
        {% if page.image %}
        {% picture listings {{ page.image }} alt="{{ page.title}}" %}
        {% endif %}
        <div class="connect">
            <div class="icon_bar">
                {% for post in site.connect %}
                {% if post.image %}
                <a href="{{ post.network_link }}">{% picture icon {{ post.image }} alt={{ post.title }} %}</a>
                {% else %}
                {{ post.network_link }}
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </aside>
</div>