---
title: Past events
layout: default
permalink: /events/past
pagination:
  enabled: true
  permalink: /:num/
  collection: events
---

    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    <div class="row">
      <main class="top-column">
           <a href="/events">Current and future events</a>
            
      </main>
      <aside class="top-column">
        {% if page.image %} {% picture listings {{ page.image }} alt="{{
          page.title
        }}" %} {% endif %}
      </aside>
    </div>
    
    
      {% assign past_events = "" | split: "" %}
      {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
      {% for post in site.events reversed %}
      {% capture posttime %}{{post.start_date | date: '%s'}}{% endcapture %}
      {% if posttime < nowunix %}

      {% assign past_events = past_events | push: post %}
      {% endif %}
      {% endfor %}

        {% include event_list.html filtered_events = past_events %}
      {% include pagination.html %}
