---
layout: default
permalink: /events/past
pagination:
  enabled: true
  permalink: /:num/
  collection: events
---

<div class="home events">
    <div class="description">
      <p>
        <a href="/events">Current and future events</a>
      </p>
    </div>
    <section>
      {% assign past_events = "" | split: "" %}
      {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
      {% for post in site.events reversed %}
      {% capture posttime %}{{post.start_date | date: '%s'}}{% endcapture %}
      {% if posttime < nowunix %}

      {% assign past_events = past_events | push: post %}
      {% endif %}
      {% endfor %}

        {% include event_list.html filtered_events = past_events %}
      </section>
      {% include pagination.html %}
    </div>
