---
layout: default
permalink: projects/not-profit-handbook
pagination:
  enabled: true
  category: not-profit-handbook
---

<div class="home">

  <h1 class="page-heading">The Not-for-Profit Handbook</h1>
  <div class="description">
    <p>
      I spent seven years helping run a small Not-for-Profit in Melbourne and technical consulting to many others. It is a chapter I have largely left behind but as part of a wrap-up process I started collaborating on a handbook for modern Not-for-Profits. The other author decided he wanted to change direction with the book but I wanted to do something with some of the work I had undertaken. I will merge some other resources into this section over time.
    </p>
  </div>
  <section>
    {% include post_list.html %}
  </section>
          {% include pagination.html %}

</div>
