---
layout: default
title: Projects
permalink: projects
pagination:
  enabled: true
  category: projects
---

<div class="home">
  <div class="projects">
    <div class="image">
    </div>
    <h1 class="post-title">Projects</h1>
    <div class="description">
      <p>
      We are full of ideas. Currently we are working on a board game based on the 1980s American computer industry, a crowd-sourced work of fiction about the end of the world and several other smaller projects.
      </p>
    </div>
  </div>

  <section>
    {% include post_list.html %}
  </section>
    {% include pagination.html %}

</div>
