---
layout: default
permalink: support/index.html
title: Support
---

<div class="home page">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <div class="row">
    <main class="top-column">
      <p>If you like our writing, podcast, software contributions, presentations, maybe consider making a small
        contribution. There are a number of ways you can do this:
        <ul>
          <li>Clicking an affiliate link in an article or below (always identified).</li>
          <li>Clicking an Ad.</li>
          <li>Donating through one of the services below.</li>
          <li>Buy some merchandise, see the separate section below.</li>
        </ul>
      </p>
    </main>

    <aside class="top-column">
      <div class="paypal">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="NK8D4W9XZZLE2">
          <input type="image" width="92" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donate_LG.gif" border="0"
            name="submit" alt="PayPal – The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
        </form>
        <p>Donate with PayPal</p>
      </div>
    </aside>
  </div>
  <div class="row">
    <main class="top-column">
      <h2>Stickers</h2>
      {% picture listings new-logos.jpg alt="{{ post.title }}" %}
      <p>Want one of our stickers? We'll send you one of each for free if you join our mailing list.</p>
    </main>
    <aside class="top-column">
      <div class="full_ml">
        {% include mailingListFull.html %}
      </div>
    </aside>
  </div>
  <h2>Merchandise</h2>
  <p>I'm pretty happy with my Chinchilla mascot(s) and hope that you like it too. The various designs across the site
    are available from Red Bubble as stickers, phone cases, note books and a whole lot more. Click through to see all
    that's on offer.</p>
  {% assign latest_posts = site.merchandise %}
  {% include post_list.html filtered_posts=latest_posts %}
</div>