---
layout: default
title: Writing
permalink: /writing
---

<div class="home page">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <div class="row">
    <main class="top-column">
      <p>This is an aggregated list of all my blog posts, newsletters and ramblings for the various projects I work for
        and have worked for.</p>
    </main>
    <aside class="top-column">
      {% if page.image %}
      {% picture listings {{ page.image }} alt="{{ page.title }}" %}
      {% endif %}
    </aside>
  </div>

  {% assign latest_posts = site.posts | where_exp: "post", "post.categories contains 'writing'" %}
  {% include post_list.html filtered_posts=latest_posts %}
</div>