{% assign posts = site.clients %}

{% for post in posts %}
<div class="row">

  <div class="column top-column">
    <div class="image">
      {% if post.featured_image %}
      {% picture listings {{ post.featured_image }} alt="{{post.title}}" %} 
      {% endif %}
    </div>
  </div>

  <div class="combiheading top-column">
    {% if post.company_url %}
    <h3>
      <a href="{{ post.company_url }}" rel="canonical">
        {{ post.title }}</a>
    </h3>
    {% endif %}
    <div>
      <p>{{ post.excerpt }}</p>
    </div>
    <!-- <div class="tags">
      {% if post.tags %}
      <h4>Tags</h4>
      {% for tag in post.tags %}
      <a href="topics#{{ tag | slugify }}"> {{ tag }} </a> {% endfor %}
      {% endif %}
    </div> -->
  </div>
</div>
{% endfor %}