{% assign posts = site.clients %}

{% for post in posts %}
<div class="row">

  <div class="column top-column">
    <div class="image">
      {% if post.featured_image %}
      {% picture listings {{ post.featured_image }} alt="{{post.title}}" %} 
      {% endif %}
    </div>
  </div>

  <div class="combiheading top-column">
    {% if post.company_url %}
    <h3>
      <a href="{{ post.company_url }}" rel="canonical">
        {{ post.title }}</a>
    </h3>
    {% endif %}
    <div>
      <p>{{ post.content }}</p>
    </div>
    <div class="tags">
      {% if post.work_link %}
      <h4>Links</h4>
      <ul>
      {% for link in post.work_link %}
      <li><a href="{{ link }}"> {{ link }} </a></li>
       {% endfor %}
      {% endif %}
    </ul>
    </div>
  </div>
</div>
{% endfor %}