{% if include.filtered_events %}
{% assign events = include.filtered_events %}
{% else %}
{% assign events = site.events %}
{% endif %}

<ul class="post-list">
  {% for post in events %}
  <li>
    <span class="date">{{ post.start_date | date: '%B %d %Y' }} to {{ post.end_date | date: '%B %d %Y' }}</span> {% if
    post.image %} {% picture listings {{post.image}} alt="{{post.title}}" %} {% endif %}
    <h3><a href="{{ post.pres_url }}">{{ post.event }}</a> {{post.action}} {{ post.title }}</h3>
    <div class="post-meta">
      <p>{{ post.venue }}</p>
      <div>{{ post.excerpt }}</div>
      <p class="post-link">
        <a href="{{ post.pres_url }}" target="_blank">Presentation</a> | <a href="{{ post.pres_source }}" target="_blank">Presentation
          File</a>
      </p>
    </div>
  </li>
  {% endfor %}
</ul>