<ul class="menu nav">
  <li><a href="/writing" title="Writing">Writing</a>
    {% if page.permalink == '/writing/cate/' or page.permalink == '/writing/chris/' or page.permalink == '/writing/books' or page.permalink == '/writing/courses' or page.permalink == '/writing/' or page.permalink == '/writing/index.html' or page.categories[1] == 'writing' or page.categories[0] == 'Cate' or page.categories[0] == 'Chris' %}
    <ul>
      <li>
        <a href="/writing/books" title="Books">Books</a>
      </li>
      <li>
        <a href="/writing/courses" title="Courses">Courses</a>
      </li>
    </ul>
    {% endif %}
  </li>
  <li><a href="/podcast" title="Podcast">Podcast</a> </li>
  <li>
    <a href="/clients">Clients</a>
  </li>
  <li>
    <a href="/events">Events</a>
  </li>
  <li><a href="/support">Support</a></li>
</ul>
