<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="p:domain_verify" content="99ddb30756722b64490c200099a93bcb" />

  <meta name="GOOGLEBOT" content="INDEX, FOLLOW" />
  <meta name="robots" content="index, follow">
  <meta name="msnbot" content="NOODP" />

  <meta property="og:locale" content="en" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:url" content="https://www.gregariousmammal.com" />
  <meta property="og:site_name" content="{{site.title}}" />
  <meta property="og:image" content="{{site.url}}/images/solo-head.png" />

  <meta name="twitter:card" content="{{page.title}}" />
  <meta name="twitter:site" content="{{site.url}}{{page.url}}" />
  <meta name="twitter:creator" content="@{{site.twitter_username}}" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:domain" content="{{site.twitter_username}}" />
  <meta name="twitter:image" content="{{site.url}}/images/solo-head.png" />

  <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script>
    function init() {
      window.addEventListener('scroll', function (e) {
        var distanceY = window.pageYOffset || document.documentElement.scrollTop,
          shrinkOn = 200,
          header = document.querySelector(".site-header");
        if (distanceY > shrinkOn) {
          header.classList.add("small-logo");
        } else {
          if (header.classList.contains("small-logo")) {
            header.classList.remove("small-logo");
          }
        }
      });
    }
    window.onload = init();
  </script>
</head>