<footer class="site-footer">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59452354-1', 'auto', {'allowLinker': true});
  ga('require', 'linker');
  ga('linker:autoLink', ['gregariousmammal.com', 'greenrenters.org', 'theagileleannonprofit.com','theagilenonprofit.com', 'theleanagilenonprofit.com', 'theleannonprofit.com', 'toolsforchangemakers.com', 'theleantraveller.com', 'theleantraveler.com'] );
  ga('send', 'pageview');
  </script>
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
      </div>

      <div class="footer-col  footer-col-2">
        <p class="text">{% include cc.html %}</p>
        <p>
          <a href="/impressum">Impressum</a>
        </p>
      </div>
    </div>

  </div>

</footer>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
