<div class="row">
  {% if include.filtered_posts %}
  {% assign posts = include.filtered_posts %}
  {% else %}
  {% assign posts = paginator.posts %}
  {% endif %}

  {% if include.post_limit %}
  {% assign post_limit = include.post_limit %}
  {% else %}
  <!-- TODO: Need to cope with paginator -->
  {% assign post_limit = 100 %}
  {% endif %}

  {% assign feedposts = include.filtered_posts %}

  {% for post in posts | limit: post_limit %}
  <div class="column">
    <div class="image">
      {% if post.image %} {% picture listings {{ post.image }} alt="{{
        post.title
      }}" %} {% endif %}
    </div>
    <div class="combiheading">
      {% if post.publication_url %}
      <h3>
        <a href="{{ post.publication_url }}" rel="canonical">
          {{ post.title }}</a>
      </h3>
      {% elsif post.orig_url %}
      <h3>
        <a href="{{ post.orig_url }}" rel="canonical">
          {{ post.title }}</a>
      </h3>
      {% else %}
      <h3>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h3>
      {% endif %}
      {% if post.categories[1] == 'sitepoint' or post.categories[1]
      == 'crate' or
      post.categories[1] == 'codeship' or post.categories[1] == 'sqreen' or
      post.categories[1] == 'dzone' or post.categories[1] == 'thenextweb' or
      post.categories[1] == 'cultofmac' or post.categories[1] == 'podcast' or
      post.categories[1] == 'hackernoon' or post.categories[1] == 'envato' or
      post.categories[1] == 'readwrite' or post.categories[1] == 'overops' or
      post.categories[1] == 'techbeacon' or post.categories[1] == 'gitlab' or post.categories[1] == 'coralogix' or post.categories[1] == 'kauri' %}
      for {{ post.categories[1] }} {% else %} for
      {% case
      post.categories[1] %}
      {% when 'odtwe' %}
      <a href="/projects/odtwe">One Day the World Ended</a>
      {% when 'chipshop'%}
      <a href="/projects/chipshop">Chip Shop</a> {% when 'leantraveller' %}
      <a href="/projects/leantraveller">Lean Traveller</a> {% when
      'chrischinchilla' %}
      <a href="/writing/chrischinchilla">Chris Chinchilla</a> {% when 'software'
      %} <a href="/projects/software">Software</a> {% when 'presentations' %}
      <a href="/writing/presentations">Presentations</a> {% when
      'atravellingcook' %}
      <a href="/writing/a-travelling-cook">A Travelling Cook</a> {% when
      'not-profit-handbook' %}
      <a href="/projects/not-profit-handbook">The Not-for-Profit Handbook</a>
      {% when
        'theweeklysqueak' or 'writethedocs' %}
      <a href="/podcasts">{{ post.podcast }}</a>
      {%
      endcase %}
      {% endif %}
    </div>
    {%- if post.podcast_embed -%}
    <div>
      <audio controls>
        <source src={{post.podcast_embed}}>
        Your browser does not support the audio element.
      </audio>
    </div>
    {%- endif -%}
    {%- if post.video_embed -%}
    {{ post.video_embed }}
    {%- endif -%}
    <p>{{ post.excerpt }}</p>
    {% if post.transcript %}
    <div>
      <a href="{{ post.url | prepend: site.baseurl }}">Transcript</a>
    </div>
    {% endif %}
    <!-- <div class="tags">
      {% if post.tags %}
      <h4>Tags</h4>
      {% for tag in post.tags %}
      <a href="topics#{{ tag | slugify }}"> {{ tag }} </a> {% endfor %}
      {% endif %}
    </div> -->
  </div>
  {% endfor %}
</div>