#beta {
  display: inline-block;
    font-size: 10px;
    margin-left: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  display: flex; // flex-flow: row wrap;
  justify-content: flex-start;
}

.top-column {
  flex-grow: 1;
  flex-basis: 49%;
  width: 49%;
  -ms-flex: auto;
  position: relative;
  box-sizing: border-box;
  margin: $spacing-unit / 6;
  padding: $spacing-unit / 6;
}

.column {
  flex-basis: 32%;
  width: 32%;
  -ms-flex: auto;
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  // TODO: Better way?
  margin: $spacing-unit / 6;
  padding: $spacing-unit / 6;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;

  h2 {
    display: inline;
  }

  a.more-link {}

  a.more-link::before {
    content: " - ";
  }

  * {
    padding-bottom: $spacing-unit / 6;
  }

  h3 {
    display: inline;
  }

  .image {
    max-width: 320px;
    padding-top: $spacing-unit / 6;
  }

  .post-link {
    display: block;
    font-size: $base-font-size;
  }

  .tags {
    h4 {
      display: inline;
    }

    a {
      font-size: $small-font-size;
    }
  }
}

.colspan3 {
  width: 100%;
}

// TODO: This seems crazy
.home {
  .row {
    .column {
      .row {
        display: block;

        .column {
          width: 97%;
          border-left: none;
        }
      }
    }
  }
}
@media screen and (max-width: $on-medium) {
  .top-column {
    flex-basis: 100%;
    width: 100%;
  }

  .column {
    width: 100%;
    flex-basis: 100%;
  }
}
