---
import { getPermalink } from '~/utils/permalinks';
---

<div
  class="hidden md:block bg-primary-900 dark:bg-slate-800 dark:border-slate-800 dark:text-slate-400 border-b border-primary-900 text-sm px-3 py-2 text-gray-200 overflow-hidden whitespace-nowrap text-ellipsis"
>
  <span class="text-xs py-0.5 px-1 bg-primary-800 dark:bg-slate-700 dark:text-slate-300 font-semibold">BETA</span>
  <!-- TODO: Update link -->
  <a
    href={getPermalink('/blog/2022/2022-07-29-cristian-heilmann-principal-program-manager-devel', 'post')}
    class="hover:underline text-gray-200 dark:text-slate-400"
    >My new website is here! And still rough around the edges and missing some features which are coming soon…</a
  >
  <a
    target="_blank"
    rel="noopener"
    class="float-right"
    title="It's my site, but anyone is welcome to contribute."
    href="https://github.com/chrischinchilla/chrischinchilla.com"
  >
    <img
      src="https://img.shields.io/github/stars/chrischinchilla/chrischinchilla.com.svg?style=social&label=Stars&maxAge=86400"
      alt="Follow @chrischinchilla.com"
      width="84"
      height="20"
    />
  </a>
</div>
