---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

// TODO: Is this used or can it be upgraded?
interface Item {
  link: string;
  description?: string;
  icon?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  highlight?: string;
  content?: string;
  items?: Array<Item>;
  image?: string | any; // TODO: find HTMLElementProps
  isReversed?: boolean;
  isAfterContent?: boolean;
}

const {
  content = await Astro.slots.render('content'),
  items = [],
  image = await Astro.slots.render('image'),
  isReversed = false,
  isAfterContent = false,
} = Astro.props;
---

<section class={`bg-primary-50 dark:bg-slate-800 py-8 md:py-10 md:mb-10 ${isAfterContent ? 'pt-0 md:pt-0' : ''}`}>
  <div class="mx-auto max-w-6xl p-4 md:px-8">
    <div class={`md:flex ${isReversed ? 'md:flex-row-reverse' : ''} md:gap-16`}>
      <div class="md:basis-1/2 self-center">
        {content && <div class="mb-12 text-lg text-gray-600 dark:text-slate-400" set:html={content} />}

        {
          items && (
            <div class="space-y-8">
              {items.map(({ link, icon }) => (
                <div class="inline-flex items-start p-2.5">
                  <div class="flex-shrink-0">
                    <div class="flex items-center justify-center text-gray-50">
                      <a href={link} target="_blank">
                      <Icon name={icon ? icon : 'tabler:check'} class="w-12 h-auto" style="color: black" />
                    </a>
                    </div>
                  </div>
                </div>
              ))}
            </div>
          )
        }
      </div>
      <div aria-hidden="true" class="mt-10 md:mt-0 md:basis-1/2">
        {
          image && (
            <div class="relative m-auto max-w-4xl">
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                // <Picture
                //   class="mx-auto w-full rounded-lg bg-gray-500 drop-shadow-lg"
                //   width={500}
                //   height={500}
                //   widths={[400, 768]}
                //   sizes="(max-width: 768px) 100vw, 432px"
                //   aspectRatio="500:500"
                //   {...image}
                // />
                <Image {...image} class="mx-auto w-full rounded-lg bg-gray-500 drop-shadow-lg"
    />
              )}
            </div>
          )
        }
      </div>
    </div>
  </div>
</section>
