---
import Layout from '~/layouts/PageLayoutNoBG.astro';
import Headline from '~/components/blog/Headline.astro';

import Client from '~/components/Client.astro';
import { getCollection } from 'astro:content';
// const allClients = await getCollection('clients');

export async function getStaticPaths({ paginate }) {
    let allClients = await getCollection('clients');
    allClients = allClients.sort(function(x, y) {
        // true values first
        return (x.data.current === y.data.current)? 0 : x? -1 : 1;
        // false values first
        // return (x === y)? 0 : x? 1 : -1;
    });
    // (a, b) => new Date(b.data.publish_date).valueOf() - new Date(a.data.publish_date).valueOf()
  return paginate(allClients, {
    pageSize: 25,
  });
}

const { page } = Astro.props;

const meta = {
  title: 'Clients',
  description: 'I\'ve worked with dozens of clients over the past 10 years. Small to large and spread across multiple industries. If you\'re looking for technical or creative text, audio, or video creation or editing: <p><a class="btn btn-primary font-btn sm:mb-0 sm:mt-6 w-80" href="contact">Get in touch</a></p>',
  // canonical: post.canonical || url,
  // image: await findImage(post.image),
  // noindex: BLOG?.post?.noindex,
  // ogType: 'article',
};
---

<Layout {meta}>
  <section class="px-6 sm:px-6 py-6 sm:py-6 lg:py-6 mx-auto max-w-4xl">
    <Headline subtitle={meta.description}>
      {meta.title}
    </Headline>
    <ul>
      {
        page.data.map((client) => (
          <li class={`mb-12 md:mb-20 ${client.data.current === true ? '' : ''}`}>
            <Client client={client} />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
