---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import HighlightedPosts from '~/components/blog/HighlightedPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'What do I do?', href: '#features2' }}
    image={{ src: import('~/assets/images/default.png'), alt: 'Chinchilla Hero Image' }}
  >
  <!-- TODO: Parameterise -->
    <Fragment slot="title">
      I am Chris Chinchilla 👋
    </Fragment>
  <!-- TODO: Parameterise -->
    <Fragment slot="subtitle">
      I am a technical communicator with a love of explaining technical concepts in documentation, blog posts, videos, books and more. I am a podcaster, video maker, writer of interactive fiction, and games.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->


  <!-- Content Widget **************** -->

  <!-- Content Widget **************** -->

  <!-- Steps Widget ****************** -->

  <!-- Features2 Widget ************** -->
<!-- TODO: refactor to match content types -->
  <Features2
    title="More about me"
    subtitle="Here's all I do, well mostly…"
    highlight="Want to know more?"
    items={[
      {
        title: 'Writing',
        description:
          'Find my blog posts and books or hire me to write and edit something for you!',
        icon: 'ph:pencil-circle-bold',
        // TODO: Generalised writing page
        permalink: '/blog',
      },
      {
        title: 'Podcasts',
        description:
          'Hear me on one of the many podcasts I regulary host and appear on.',
        icon: 'fa:podcast',
        permalink: '/podcast',
      },
      {
        title: 'Videos',
        description:
          'Watch all my livestreams, recorded videos, and presentations.',
        icon: 'fa:podcast',
        permalink: '/videos',
      },
      {
        title: 'Games',
        description:
          'Download, buy, and play games I created or contributed to.',
        icon: 'fa:podcast',
        permalink: '/games',
      },
      {
        title: 'Events',
        description:
          'Meetups and conferences I\'m speaking at, reporting on, or attending.',
        icon: 'carbon:calendar-heat-map',
        permalink: '/events',
      },
      {
        title: 'Work',
        description:
          'Who I\'ve worked with, the work I\'ve done, and how I can help you.',
        icon: 'fluent:people-audience-20-filled',
        permalink: '/clients',
      },
      {
        title: 'Support',
        description:
          'Like what I do? Support me with a donation, subscription, or buy merchandise.',
        icon: 'ri:money-euro-circle-fill',
        permalink: '/support',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->
<!-- TODO: Generalise to all content types -->
  <HighlightedPosts
    title="Highlights"
    information={`Current highlights for your enjoyment.`}
    postIds={[
      '2022/2022-02-20-how-setup-raspberry-pi-files-media.md',
      '2022/2022-01-20-reducing-negative-language-documentation.md',
      '2021/2021-12-12-migrating-mac.md'
    ]}
  />

  <!-- FAQs Widget ******************* -->

  

  <!-- Stats Widget ****************** -->



  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Get template',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Astro + <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
