---
import Layout from "../layouts/Layout.astro";
import Podcast from "../components/Podcast.astro";

const chinchillaSqueaksEpisodes = await fetch(
  "https://api.spotify.com/v1/shows/4esINQS7W6emShb6fwt5Vr/episodes?market=de",
  {
    headers: {
      Authorization:
        "Bearer BQBXnAVVrZwZveIA0GwhFFg-lPrAsB07jxxGiQtgMYJBSqHUNnJztfkHk0N6pA6cjjBpKwbIqOQ93E6t075glXio26ahiMkojiuqJiFPiAhVDtrTRxo",
    },
  }
)
  .then((response) => response.json())
  .then((response) => Object.values(response.items));
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Podcasts</h1>
    <!-- Pass your post data into a custom component, or display it on the page -->
    <!-- TODO: Set type explicitly -->
    <!-- TODO: Body summary -->
    <ul>
      {
        chinchillaSqueaksEpisodes.map((podcast) => (
          // <li>{episode.name}</li>
          <>
            <Podcast
              name={podcast.name}
              description={podcast.description}
              id={podcast.id}
            />
          </>
        ))
      }
    </ul>
  </main>
</Layout>
