---
import Layout from "../layouts/Layout.astro";
import Podcast from "../components/Podcast.astro";

const chinchillaSqueaksEpisodes = await fetch(
  "https://api.spotify.com/v1/shows/4esINQS7W6emShb6fwt5Vr/episodes?market=de",
  {
    headers: {
      Authorization:
        "Bearer BQByO1tMfGNRvWqx04aGpTZxF_U0_u2FQrEZmWRDGGwrcRaMzOWZfLzcN4yda5J4KfJn5E4VnCVmeF95_FDp-NIikQiaZn8FLBIi7tldyGP0Tcg6LZM",
    },
  }
)
  .then((response) => response.json())
  .then((response) => Object.values(response.items));
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Podcasts</h1>
    <ul>
      {
        chinchillaSqueaksEpisodes.map((podcast) => (
          <>
            <Podcast
              name={podcast.name}
              description={podcast.description}
              id={podcast.id}
            />
          </>
        ))
      }
    </ul>
  </main>
</Layout>
