---
import Layout from '~/layouts/PageLayoutNoBG.astro';
import Video from '../components/Video.astro';
import Headline from '~/components/blog/Headline.astro';

const meta = {
  title: 'Videos',
  description: 'I have several regular livestreams and produce an edited video roughly once a month.',
  // canonical: post.canonical || url,
  // image: await findImage(post.image),
  // noindex: BLOG?.post?.noindex,
  // ogType: 'article',
};

// TODO: Paginate
const youTubeVideos = await fetch(
  `https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&maxResults=200&playlistId=PL1fnzsSshABw25W5Qscxw_gQII_MlCoOS&key=${
    import.meta.env.GOOGLE_API
  }`
)
  .then((response) => response.json())
  .then((response) => Object.values(response.items));
---

<Layout {meta}>
  <section class="px-6 sm:px-6 py-6 sm:py-6 lg:py-6 mx-auto max-w-4xl">
    <Headline subtitle={meta.description}>
      {meta.title}
    </Headline>
    <!-- TODO: Sort pagination -->
    <ul>
      {
        youTubeVideos.map((video) => (
          <li class="mb-12 md:mb-20">
            <Video video={video} />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
