---
import Layout from "../layouts/Layout.astro";

import Video from "../components/Video.astro";

const youTubeVideos = await fetch(
  "https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&maxResults=200&playlistId=UUgnrx8qi4qhmN6sBebdDrmg&key=AIzaSyDLwaU3kzLMbC-9n-Jpmq6xqfD-B1-r8VI"
)
  .then((response) => response.json())
  .then((response) => Object.values(response.items));

// const youTubeVideos = await fetch('');
// const data = await youTubeVideos.json();

// const videos = Object.values(data.items);
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Videos</h1>
    <!-- Pass your post data into a custom component, or display it on the page -->
    <!-- TODO: Set type explicitly -->
    <!-- TODO: Body summary -->
    <ul>
      {
        youTubeVideos.map((video) => (
          <>
            <Video
              name={video.snippet.title}
              snippet={video.snippet.description}
              id={video.snippet.resourceId.videoId}
            />
          </>
        ))
      }
    </ul>
  </main>
</Layout>
