---
import ContentImage from '~/components/common/ContentImage.astro';
import { type CollectionEntry } from 'astro:content';

export interface Props {
  podcast: CollectionEntry<'podcasts'>;
}
const { podcast } = Astro.props;
// For some reason one feed returns duplicate title as an array
let podcastTitle;
if (Array.isArray(podcast.title)) {
  podcastTitle = podcast.title[0];
} else {
  podcastTitle = podcast.title;
}

var url = '/podcast/' + slugify(podcastTitle);
function slugify(str) {
  str = str.replace(/^\s+|\s+$/g, '');

  // Make the string lowercase
  str = str.toLowerCase();

  // Remove accents, swap ñ for n, etc
  var from = 'ÁÄÂÀÃÅČÇĆĎÉĚËÈÊẼĔȆÍÌÎÏŇÑÓÖÒÔÕØŘŔŠŤÚŮÜÙÛÝŸŽáäâàãåčçćďéěëèêẽĕȇíìîïňñóöòôõøðřŕšťúůüùûýÿžþÞĐđßÆa·/_,:;';
  var to = 'AAAAAACCCDEEEEEEEEIIIINNOOOOOORRSTUUUUUYYZaaaaaacccdeeeeeeeeiiiinnooooooorrstuuuuuyyzbBDdBAa------';
  for (var i = 0, l = from.length; i < l; i++) {
    str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
  }

  // Remove invalid chars
  str = str
    .replace(/[^a-z0-9 -]/g, '')
    // Collapse whitespace and replace by -
    .replace(/\s+/g, '-')
    // Collapse dashes
    .replace(/-+/g, '-');

  return str;
}
// const { podcast } = Astro.props;
---

<article class="max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 md:grid-cols-2">
  <div class="relative h-0 pb-[56.25%] md:pb-[75%] lg:pb-[56.25%] overflow-hiddenrounded drop-shadow-lg">
    <!-- TODO: These images might be quite heavy -->
    <ContentImage
      src={podcast.image ? podcast.image.att_href : '../../assets/images/default.png'}
      alt={podcast.title ? podcastTitle : 'null'}
      type="podcast"
      class="absolute object-contain h-full mb-6 rounded drop-shadow-lg"
    />
  </div>

  <div class="mt-2">
    <div class="mt-2">
      <!-- TODO: Is there a less brittle way? -->
       <!-- TODO: Find a way to show shows before renaming -->
      {
        podcast.link.startsWith('https://chrischinchilla.com/podcast') ? (
          <a
            href="/podcast/techlounge"
            class="bg-gray-100 dark:bg-slate-700 inline-block mr-2 mb-2 py-0.5 px-2  font-medium"
          >
            Tech Lounge
          </a>
        ) : (
          <a
            href="/podcast/whiskywordswit"
            class="bg-gray-100 dark:bg-slate-700 inline-block mr-2 mb-2 py-0.5 px-2  font-medium"
          >
            Whisky, Words, & Wit
          </a>
        )
      }
      <header>
        <h2 class="text-xl sm:text-2xl font-semibold leading-tight mb-2 font-subheading dark:text-slate-300">
          {
            url ? (
              <a class="hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href={url}>
                {podcastTitle}
              </a>
            ) : (
              podcastTitle
            )
          }
        </h2>
      </header>
      <div class="my-2" set:html={podcast.summary} />
    </div>
  </div>
</article>
