---
import MarkdownPostLayout from '../../layouts/MarkdownLayout.astro';
import { getCollection, render,  } from 'astro:content';
import { Image } from 'astro:assets';
import defaultPostImage from '/src/assets/images/defaults/book-chinchilla.jpg'

export async function getStaticPaths() {
  const bookEntries = await getCollection('books');
  return bookEntries.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<MarkdownPostLayout frontmatter={entry.data}>
  <Image
  src={entry.data.image ? entry.data.image : defaultPostImage}
  alt={entry.data.title}
  class="absolute object-contain h-full mb-6 rounded drop-shadow-lg"
/>
  {
    entry.data.store_urls && (
      
        <b class="my-2 block">Buy a copy in the following places:</b>
        <ul class="list-disc list-inside m-2">
          {entry.data.store_urls.map((store_url) => (
            <li>
              <a href={store_url.url}>{store_url.label}</a>
            </li>
          ))}
        </ul>
      
    )
  }
  <Content />
</MarkdownPostLayout>
