---
layout: default
---

<div class="home page">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <div class="row">
    <main class="top-column">
      <p>{{ content }}</p>
    </main>
    <aside class="top-column">
      {% if page.image %}
      {% picture home {{ page.image }} alt="{{ page.title }}" %}
      {% endif %}
    </aside>
  </div>
  <div class="row">
    <main class="top-column">
      <h2 id="gaming">Sign up for my newsletter</h2>
      <p>Sign up for my Chinchilla Squeaks newsletter for a mostly weekly roundup of technology, gaming, history,
        language
        and general geekery.</p>
    </main>
    <aside class="top-column">
      <iframe src="https://chinchillasqueaks.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
    </aside>
</div>

</div>