---
layout: default
---

<div class="home page">

    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    <div class="row">
        <main class="top-column">
            <p>{{ content }}</p>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FBerlin&amp;src=Y18yOGMxcW92NWg2YnFybzZkdTdyMjBlZWZmc0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=Y19tYWFtaXM3b20wNmdvZTZ0bGkyYnJ2YjJsZ0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=Y19tNmZ2N2ZhbW5ibjFwa2pwamMxM2xpY2tmb0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=Y181NTEwaWw4czYwbzYxOGNyODdpbGFldmR2c0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23E67C73&amp;color=%23F09300&amp;color=%23795548&amp;color=%23EF6C00&amp;title=Streaming%20schedule&amp;mode=AGENDA&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showNav=0&amp;showDate=0" style="border:solid 1px #777" width="480" height="300" frameborder="0" scrolling="no"></iframe>
            <p><i>Click the title of the stream event to add it to your calendar.</i></p>
        </main>
        <aside class="top-column">
            {% if page.image %} {% picture home {{ page.image }} alt="{{
            page.title
            }}" %} {% endif %}
        </aside>
    </div>

    {% include post_list.html %}
    {% include pagination.html %}
</div>