---
layout: default
---

<div class="home page">

    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    <div class="row">
        <main class="top-column">
            <p>{{ content }}</p>
            <iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=2&bgcolor=%23A79B8E&ctz=Europe%2FBerlin&mode=AGENDA&showPrint=0&showCalendars=0&src=bWJ2NDRoaGFuajB2NjVqZWZhcWsxNG5wMGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23616161" style="border:solid 1px #777" width="475" height="400" frameborder="0" scrolling="no"></iframe>
            <p><i>Click the title of the stream event to add it to your calendar.</i></p>
        </main>
        <aside class="top-column">
            {% if page.image %} {% picture home {{ page.image }} alt="{{
            page.title
            }}" %} {% endif %}
        </aside>
    </div>

    {% include post_list.html %}
    {% include pagination.html %}
</div>