---
import '~/assets/styles/base.css';

import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import CustomStyles from '~/components/CustomStyles.astro';
import ApplyColorMode from '~/components/common/ApplyColorMode.astro';
import Metadata from '~/components/common/Metadata.astro';
import Fonts from '~/components/common/Fonts.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';

import type { MetaSEO } from '~/types';
import { SITE } from '~/config.mjs';

export interface Props {
  metadata?: MetaSEO;
}

const { metadata = {} } = Astro.props;
const { language = 'en', textDirection = 'ltr' } = SITE;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <Fonts />
    
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <body class="antialiased text-gray-900 dark:text-slate-300 tracking-tight bg-white dark:bg-slate-900">
    <slot />
    
    <BasicScripts />
    
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
