---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/HeaderNoLogo.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';
// TODO: Optimise
import bgImage from '../assets/images/chinch-head.svg';
import { MetaSEO } from '~/types';

export interface Props {
  meta?: MetaSEO;
}

const { meta } = Astro.props;
---

<Layout {meta}>
  <Announcement />
  <Header />
  <main style=`background-size: 80%;
  background-repeat: no-repeat;
  background-position: top 11% center;
    background-image: url(${bgImage.src});`>
    <slot />
  </main>
  <Footer />
</Layout>
