---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import { MetaSEO } from '~/types';

export interface Props {
  metadata?: MetaSEO;
}

const { metadata } = Astro.props;
---
<!-- TODO: Add background at some point -->
<Layout {metadata}>
  <Announcement />
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</Layout>
